.side-nav{
    background-color: var(--bw-side-nav-bg);
    padding-right: 1rem;
    padding-left:2rem ;
    padding-block:1rem;
    color:var(--bw-side-nav-text);
    /* border-right: 1px solid #FFDD99; */
}